@model CmsLite.Core.Areas.Admin.Models.AdminMenu
@{
    var routeData = Request.RequestContext.RouteData;
    const string activeClass = "active";
    var currentAction = routeData.GetRequiredString("action");
}
<ul class="nav list-group">
    @foreach (var link in Model.Links)
    {
        if (currentAction.ToLower() == link.Text.Replace(" ", "").ToLower())
        {
        <li class="@activeClass" >
            <a class="list-group-item" href="@link.Url"><i class="@link.IconClass"></i><span>@link.Text</span></a>
        </li>
        }
        else
        {
        <li><a class="list-group-item" href="@link.Url"><i class="@link.IconClass"></i><span>@link.Text</span></a></li>
        }
    }
</ul>
