@model CmsLite.Core.Areas.Admin.Models.MediaModel
@{
    ViewBag.Title = "Media";
}
@section Scripts
{
    <script src="@Url.Content("~/Areas/Admin/Scripts/source/plugins/jquery.modalDialog.js")"> </script>
    <script src="@Url.Content("~/Areas/Admin/Scripts/source/page.media.js")"> </script>
    <script>
        $(document).ready(function () {
            (function () {
                cms.init();
            })();
        });
    </script>
}
<div id="media-page">
    <header class="page-header">
        <h3>
            <i class="icon-edit"></i>Media</h3>

        <div class="btn-group">
            <button class="btn btn-default" type="button" data-bind="click: uploadFileForm.show"><i class="icon-upload"></i>Add a new file</button>
        </div>
    </header>
    <div class="page-content">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" />
                    </th>
                    <th>File
                    </th>
                    <th>Name
                    </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        <input type="checkbox" />
                    </th>
                    <th>File
                    </th>
                    <th>Name
                    </th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var file in Model.Files)
                {
                    <tr>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>
                            <img src="@Url.Action("MediaThumbnails", "Admin", new { id = file.Id })" alt="@file.Name"/>
                        </td>
                        <td>@file.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div id="upload-file-form" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        @using (Html.BeginForm("Media", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "modal-content" }))
        {
            <div class="modal-header">
                <button class="close" type="button" data-bind="click: hide"><i class="icon-remove"></i></button>
                <h4>Upload a new file</h4>
            </div>
            <div class="modal-body">
                @Html.ValidationSummary(false)
                <input type="file" name="file" />
            </div>
            <div class="modal-footer">
                <button class="btn" data-bind="click: hide">Close</button>
                <button class="btn btn-primary" type="submit"><i class="icon-upload"></i>Upload File</button>
            </div>
        }
    </div>
</div>
