@model CmsLite.Core.Areas.Admin.Models.SiteSectionsModel
@{
    ViewBag.Title = "Cms Lite - PageTypes";
}
@section Scripts
{
    <script src="@Url.Content("~/Areas/Admin/Scripts/source/page.sitesections.js")"></script>
    <script>
        $(document).ready(function () {
            (function() {
                var sectionNodes = @Html.Raw(Json.Encode(Model.Sections));
                var sectionTemplates = @Html.Raw(Json.Encode(Model.SectionTemplates));
                cms.init(sectionNodes, sectionTemplates);
            })();
        });
    </script>
    <script type="text/html" id="section-template">
        <li class="node">
            <a href="#">
                <i class="icon-caret-right"></i>
                <img alt="icon" data-bind="attr: { src : iconImageName }" /><span data-bind="    text: displayName"></span>
            </a>
            <div class="context-menu popover bottom" tabindex="5">
                <div class="arrow"></div>
                <div class="popover-content">
                    <div class="popover-content">
                        <ul>
                            <li><a href="#" target="_blank" data-bind="attr: { href : url  }"><i class="icon-share-alt"></i>View section</a></li>
                            <li><a href="#" data-bind="click: $root.deleteSectionForm.show"><i class="icon-remove"></i>Delete section</a></li>
                            <li><a href="#" data-bind="click: $root.createPageForm.show"><i class="icon-plus"></i>Create new page</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul data-bind="visible: pageNodes">
                <!-- ko template: { name: 'page-template', foreach: pageNodes } -->
                <!-- /ko -->
            </ul>
        </li>
    </script>
    <script type="text/html" id="page-template">
        <li class="node">
            <a href="#"><i class="icon-caret-right"></i>
                <img alt="icon" data-bind="attr: { src : iconImageName }" /><span data-bind="text: displayName"></span></a>
            <div class="context-menu popover bottom">
                <div class="arrow"></div>
                <div class="popover-content">
                    <ul>
                        <li><a href="#" target="_blank" data-bind="attr: { href : url  }"><i class="icon-share-alt"></i>View page</a></li>
                        <li><a href="#" data-bind="click: $root.deletePageForm.show"><i class="icon-remove"></i>Delete page</a></li>
                        <li data-bind="visible: pageTemplates().length > 0"><a href="#" data-bind="click: $root.createPageForm.show"><i class="icon-plus"></i>Create new page</a></li>
                        <li><a href="#" data-bind="attr: { href : editUrl  }"><i class="icon-edit"></i>Edit page</a></li>
                    </ul>
                </div>
            </div>
            <ul data-bind="visible: pageNodes">
                <!-- ko template: { name: 'page-template', foreach: pageNodes } -->
                <!-- /ko -->
            </ul>
        </li>
    </script>
}
<div id="site-sections">
    <header class="page-header">
        <h3>
            <i class="icon-book"></i>Sections</h3>
        <div class="btn-group">
            <button class="btn btn-default" type="button" data-bind="click: toggleSectionsOpen, css: { 'active': allAccordionsOpen() }"><i data-bind="    css: !allAccordionsOpen() ? 'icon-expand' : 'icon-collapse'"></i><span data-bind="    text: !allAccordionsOpen() ? 'Open All' : 'Close All'"></span></button>
            <button id="create-section-trigger" class="btn btn-default" type="button" data-bind="click: createSectionForm.show"><i class="icon-expand-alt"></i><span>Create new section</span> </button>
        </div>
    </header>
    <div class="page-content">
        <ul data-bind="visible: sectionNodes().length > 0" oncontextmenu="return false;" class="list-group space-box-content">
            <!-- ko template: { name: 'section-template', foreach: sectionNodes } -->
            <!-- /ko -->
        </ul>
        <div class="alert alert-info" data-bind="visible: sectionNodes().length < 1">You don't have any sections created yet. Use the <a href="#" class="label label-info" data-bind="click: cms.viewmodel.createSectionForm.show">Create new section</a> form to create your first site section.</div>
    </div>
</div>
<!---------------------------------- Modals ---------------------------------->
<div id="create-sections-form" class="modal fade" tabindex="-1" role="dialog" data-bind="bootstrapmodal : { onhide: hide }">
    <div class="modal-dialog">
        <form class="modal-content" action="@Url.Action("CreateSection")" method="POST">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal"><i class="icon-remove"></i></button>
                <h4>Add a new section</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    <i class="icon-info-sign"></i>
                    <p>When you create a new section, a landing page for the section will automatically be created.</p>
                </div>
                <div class="form-group">
                    <label class="control-label">Select a section template :</label>
                    <select class="form-control" data-val="true" data-val-required="Select a Section Template" data-bind="options: sectionTemplates, optionsCaption : '--- Select ---', optionsText: 'name', optionsValue  : 'id', value : selectedSectionTemplateId"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">Display name :</label>
                    <input class="form-control" name="DisplayName" data-val="true" data-val-required="Enter a Display Name" data-bind="value: displayName" type="text" />
                </div>
                <div class="form-group">
                    <label class="control-label">Url name:</label>
                    <input class="form-control" name="UrlName" data-val="true" data-val-required="Enter a Url Name" data-bind="value: urlName" type="text" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="submit" data-bind="click: create"><i class="icon-plus"></i>Create Section</button>
            </div>
        </form>
    </div>
</div>
<div id="create-page-form" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <form class="modal-content" action="@Url.Action("CreateSection")">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal"><i class="icon-remove"></i></button>
                <h4>Add a new page</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Select a section template :</label>
                    <select class="form-control" data-val="true" data-val-required="Select a Page Template" data-bind="options: parentNode() !== undefined ? parentNode().pageTemplates : null, optionsCaption : '--- Select ---', optionsText: 'name', optionsValue  : 'id', value : selectedPageTemplateId"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">Display name :</label>
                    <input class="form-control" name="DisplayName" data-val="true" data-val-required="Enter a Display Name" data-bind="value: displayName" type="text" />
                </div>
                <div class="form-group">
                    <label class="control-label">Url name:</label>
                    <input class="form-control" name="UrlName" data-val="true" data-val-required="Enter a Url Name" data-bind="value: urlName" type="text" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="submit" data-bind="click: create"><i class="icon-plus"></i>Create Page</button>
            </div>
        </form>
    </div>
</div>
<div id="delete-section-form" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body container">
                <p>Are you sure you would like to delete this section? Deleting this section will delete all the pages that belong to it.</p>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-warning" data-bind="click: cms.viewmodel.deleteSectionForm.delete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="delete-page-form" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body container">
                <p>Are you sure you would like to delete this page? Deleting this section will delete all the pages that belong to it.</p>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-warning" data-bind="click: cms.viewmodel.deletePageForm.delete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
