@model CmsLite.Web.Areas.Admin.Models.AdminLayoutModel
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cms Lite | @ViewBag.Title</title>
    <!-- css -->
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Content/cms.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Areas/Admin/Content/fontawesome/font-awesome.min.css")" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Signika:400,300,600,700'>
    <!-- scripts -->
    <script src="@Url.Content("~/Areas/Admin/Scripts/libs/modernizr-2.6.2.js")"></script>
</head>
<body>
    @Html.Partial("_Header", Model.UserMenu)
    <div id="wrapper">
        <div id="sidebar-wrapper" class="col-md-1">
            <div id="sidebar">
                @Html.Partial("_Sidebar", Model.SidebarMenu)
            </div>
        </div>
        <div id="main-wrapper" class="col-md-11">
            <div id="main">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="modal hide" id="loading">
        <img alt="loading" src="@Url.Content("~/Areas/Admin/Content/images/loading.gif")"/>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>        window.jQuery || document.write('<script src="@Url.Content("~/Areas/Admin/Scripts/libs/jquery-1.9.1.min.js")"><\/script>')</script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
    <script>        window.jQuery.ui || document.write('<script src="@Url.Content("~/Areas/Admin/Scripts/libs/jquery-ui-1.10.1.min.js")"><\/script>')</script>
    @*<script src="@Url.Content("~/Areas/Admin/Scripts/knockout-2.2.1.js")"></script>*@
    <script src="@Url.Content("~/Areas/Admin/Scripts/libs/knockout-2.2.1.debug.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Scripts/libs/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Scripts/Source/unobtrusiveValidationOverrides.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Scripts/libs/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Scripts/libs/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Scripts/source/knockout.customBindingHandlers.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Scripts/source/cms.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Scripts/source/plugins/jquery.contextmenu.js")"></script>
    @RenderSection("Scripts", false)
    <script>
        (function () {
            cms.utils.mapPath = function (path) {
                return path.replace('~/', '@Url.Content("~")');
            };
        })();
    </script>
</body>
</html>
