@model CmsLite.Web.Areas.Admin.Models.SignInModel
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Areas/Admin/Views/Shared/_AccountLayout.cshtml";
}
@using (Html.BeginForm("SignIn", "Account", null, FormMethod.Post, new { @id = "signin" }))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Email, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Enter your email" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Password, new { @class = "control-label" })
        @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Enter your password" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.RememberMe)
            Remember my login
        </label>
    </div>
    <button class="btn btn-primary pull-right" type="submit"><i class="icon-signin"></i>Sign In</button>
}
@if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary(false)
        </div>
}
