@model MenuGen.Models.MenuModel
@if (Model.MenuNodes != null)
{
    <ul class="nav list-group">
        @foreach (var node in Model.MenuNodes)
        {
            <li class="@node.IsCurrentNode() ? 'active' : ''" >
                @*<a class="list-group-item" href="@node.Url"><i class="@node.IconClass icon-left"></i><span>@node.Text</span></a>*@
                <a class="list-group-item" href="@Url.Action(node.ActionName, node.ControllerName, node.RouteValues)"><span>@node.Text</span></a>
            </li>
        }
    </ul>
}